@import "../../../../../styles/utils/utils";

.box {
  background-color: $white;
  margin: 1em;
  padding: 1em;
  border-radius: 1em;
  min-width: 20%;
  @include box-shadow;

  .buttons {
    display: flex;
    justify-content: space-around;
  }

  .done {
    color: $green;
  }

  .edit {
    color: $yellow;
  }

  .delete {
    transition: 0.2s;
    &:hover {
      color: $red;
    }
  }

}
